<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
   <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> WAVE : CREATE SURVEY </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel="stylesheet" href="{{url_for('static' , filename='assets/css/Hunter.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<!--PEN HEADER-->
<header class="header">
  <h1 class="header__title"> Create Your Survey Here ! </h1>
  <div class="header__btns btns"><a class="header__btn btn" href="https://github.com/nat-davydova/multisteps-form" title=" More Information " target="_blank"> MORE INFORMATION </a></div>
</header>
<!--PEN CONTENT     -->
<div class="content">
  <!--content inner-->
  <div class="content__inner">
    <div class="container">
      <!--content title-->
      <h2 class="content__title content__title--m-sm"> Select The Type Of Your Survey </h2>
      <!--animations form-->
      <form class="pick-animation my-4">
        <div class="form-row">
          <div class="col-5 m-auto">
            <select class="pick-animation__select form-control">
              <option value="scaleIn" selected="selected"> Type Not Configured </option>
              <option value="scaleOut"> Open Survey </option>
              <option value="slideHorz"> Closed  Survey</option>
            </select>
          </div>
        </div>
      </form>
      <!--content title-->
      <h2 class="content__title"> Complete The Form By Clicking The  'Prev' and 'Next' buttons</h2>
    </div>
    <div class="container overflow-hidden">
      <!--multisteps-form-->
      <div class="multisteps-form">
        <!--progress bar-->
        <div class="row">
          <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
            <div class="multisteps-form__progress">
              <button class="multisteps-form__progress-btn js-active" type="button" title="User Info"> Survey Targets </button>
              <button class="multisteps-form__progress-btn" type="button" title="Address"> Survey Data </button>
             
          
            </div>
          </div>
        </div>
        <!--form panels-->
        <div class="row">
          <div class="col-12 col-lg-8 m-auto">
            <form class="multisteps-form__form">
              <!--single form panel-->
              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                <h3 class="multisteps-form__title"> Survey Target Information </h3>
                <div class="multisteps-form__content">
                  <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
 <select class="multisteps-form__select form-control">
                        <option selected="selected"> Department </option>
                        <option> All </option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
 <select class="multisteps-form__select form-control">
                        <option selected="selected"> Certification </option>
                        <option> All </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
 <select class="multisteps-form__select form-control">
                        <option selected="selected"> Course Name </option>
                        <option> All </option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                       <select class="multisteps-form__select form-control">
                        <option selected="selected"> Year / Module </option>
                        <option> All </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
 <select class="multisteps-form__select form-control">
                        <option selected="selected"> Gender </option>
                        <option> All</option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                    <select class="multisteps-form__select form-control">
                        <option selected="selected"> Record State </option>
                        <option> All </option>
                      </select>
                    </div>
                  </div>
                  <div class="button-row d-flex mt-4">
<button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                  </div>
                </div>
              </div>
              <!--single form panel-->
              <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                <h3 class="multisteps-form__title"> Intended Survey Data </h3>
                <div class="multisteps-form__content">
                  <div class="form-row mt-4">
                    <div class="col">
                      <input class="multisteps-form__input form-control" type="text" placeholder="Survey Query 1"/>
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="col">
                      <input class="multisteps-form__input form-control" type="text" placeholder="Survey Query 2"/>
                    </div>
                  </div>


                  <div class="form-row mt-4">
                    <div class="col">
                      <input class="multisteps-form__input form-control" type="text" placeholder="Survey Query 3"/>
                    </div>
                  </div>



                  <div class="form-row mt-4">
                    <div class="col">
                      <input class="multisteps-form__input form-control" type="text" placeholder="Survey Query 4"/>
                    </div>
                  </div>
 
                  <div class="form-row mt-4">
                    <div class="col">
                      <input class="multisteps-form__input form-control" type="text" placeholder="Survey Query 5"/>
                    </div>
                  </div>



                  </div>
                  <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
     <button class="btn btn-success ml-auto" type="button" title="Send">Send</button>
                  </div>
                </div>
              </div>
              <!--single form panel-->

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script  src="{{url_for('static', filename='assets/js/Hunter.js')}}"></script>

</body>
</html>
