<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> Wave QR - Client</title>
  <link rel="stylesheet" href="{{url_for('static',filename='assets/Groups/Qr.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<head>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="intro">
        <div class="container row">
            <img src="https://i.postimg.cc/DwSWLmxQ/image-qr-code.png" alt="QR Code">
            <h1>
                
                Join Request For Group {GroupName}  By User {User} . 
            </h1>
            <p>
          Scan this QR Code to become a member of { Group Name } . Cant find the image Click this link to join .  {Link}
            </p>
        </div>
    </main>
</body>
<!-- partial -->
  
</body>
</html>
